<!DOCTYPE html>

<head>
  <title>GPIO Control</title>
  <link rel="stylesheet" href='../static/style.css' />
</head>

<body>
  <h1>Actuators</h1>
  <h2> Status </h2>
  <h3> Wire 1 ==> {{ wire1 }}</h3>
  <h3> Wire 2 ==> {{ wire2 }}</h3>
  <h3> Wire 3 ==> {{ wire3 }}</h3>
  <h3> Wire 4 ==> {{ wire4 }}</h3>
  <br>
  <h2> Commands </h2>
  <h3>
    Wire 1 Ctrl ==>
    <a href="/wire1/on" class="button">TURN ON</a>
    <a href="/wire1/off" class="button">TURN OFF</a>
  </h3>
  <h3>
    Wire 2 Ctrl ==>
    <a href="/wire2/on" class="button">TURN ON</a>
    <a href="/wire2/off" class="button">TURN OFF</a>
  </h3>
  <h3>
    Wire 3 Ctrl ==>
    <a href="/wire3/on" class="button">TURN ON</a>
    <a href="/wire3/off" class="button">TURN OFF</a>
  </h3>
  <h3>
    Wire 4 Ctrl ==>
    <a href="/wire4/on" class="button">TURN ON</a>
    <a href="/wire/off" class="button">TURN OFF</a>
  </h3>
</body>

</html>